@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(7, 40, 50);
    --error-color: rgb(181, 102, 102);
    --sucesso-color-peso-ok: rgb(0, 255, 0);
    --sucesso-color-peso-ruim: rgb(255, 0, 0);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em; 
    line-height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 20px;
    background: #fff;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.9);
}

h1 {
    text-align: center;
    color: var(--primary-color-darker);
}

table {
    width: 100%;
    margin-bottom: 25px;
}

th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #e8e8e8;
}

th {
    font-weight: 800;
    color: var(--primary-color-darker);
}


form label {
    display: block;
    margin: 15px 0 5px 5px;
    font-weight: 600;
}

form input {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 25px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: var(--primary-color);
}

form button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s; 
}

form button:hover {
    background: var(--primary-color-darker);
    transform: translateY(-3px);
}

form button:active {
    background: #04ec65; 
    transform: translateY(0);
    color: black;
}

.resultadoIMC {
    display: none; 
}

.resultado-false, .resultado-true {
    margin-top: 20px;
    padding: 10px; 
    border-radius: 25px;
    font-weight: 600;
    color: #fff;
    text-align: center; 
    min-height: 50px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.resultadoIMC:not(:empty) {
    display: block;
}

.resultado-true {
    background-color: var(--sucesso-color-peso-ok);
    color: black;
}

.resultado-false {
    background-color: var(--sucesso-color-peso-ruim);
    color: black;
}

.resultado-erro {
    background-color: var(--error-color);
    color: black;
}